
<header >
  <div class="wrapper">
      <a href="index.html">
    <div class="logo">Star Wars <br> &nbsp; &nbsp; App</div>
  </a>
      <nav>
        <a href="">HISTORIA</a>
        <a href="#">PELICULAS</a>
        <a href="#">PERSONAS</a>
        <a href="#">PLANETAS</a>
        <a href="#">ESPECIES</a>
        <a href="#">NAVES ESPACIALES</a>
        <a href="#">VEHICULOS</a>
      </nav>
  </div>

  </header>


 <div>
 <div class="banner">

  <h1 class="Letra1">STAR</h1>

 </div>

 <div >
   <h3 class="Letra2">EL ASCENSO DE SKYWALKER</h3>
 </div>

 <div>
   <h2 class="Letra3">WARS</h2>
 </div>
</div>

<div class="footer">
  Espacio para el footer
</div>



