body{
  margin: 0;
  padding: 0;
}


.banner{
  background-image: url("https://lumiere-a.akamaihd.net/v1/images/eu_sws-9-the-rise-of-skywalker_hero_r_eecc4b7a.jpeg?region=0,0,3200,1336&width=1536") ;
  overflow: hidden;
  height: 90vh;

}

.Letra1 {
  border: none;
  width: 600px;
  text-align: center;
  color: black;
  top: 100px;
  left: 11%;
  position:relative;
  margin-left: -200px;
  font-size: 75px;
  font-family:fantasy;
  margin-top: 20vh;
  font-size: 45px;
}

span{
  color:rgba(223, 228, 178, 0.959);

}

