
<header >
  <div class="wrapper">
      <a routerLink="/">
    <div class="logo">Star Wars <br> &nbsp; &nbsp; App</div>
  </a>
      <nav>
        <nav>
          <a routerLink = "integrantes-de-trabajo"> &nbsp;&nbsp;&nbsp;GRUPO DE <br>INTEGRANTES</a>
          <a routerLink="historia">HISTORIA</a>
          <a routerLink ="peliculas">PELICULAS</a>
          <a routerLink ="personas">PERSONAS</a>
          <a routerLink ="planetas">PLANETAS</a>
          <a routerLink ="especies">ESPECIES</a>
          <a routerLink ="naves-espaciales">NAVES ESPACIALES</a>
          <a routerLink ="vehiculos">VEHICULOS</a>
        </nav>
      </nav>
  </div>

  </header>


