

.home{
  color: white;
  padding-left: 110px;
  padding-top: 20px;
  font-size: 20px;

}

h1{
  color: white;
}
p{
  padding-right:100px;
  padding-left: 100px;
  color: white;
}

.fondo{
  background-image: url("https://www.xtrafondos.com/wallpapers/star-wars-logo-3654.jpg") ;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-position: bottom;

}

h1{
  text-align: center;
}

.colores {
  color: white;
}

